div {
    background-color: lightblue;
    ;
}

h2 {
    text-align: center;
    color: darkslateblue;

}

.lists {
    text-align: center;

}

.lists h5 {
    padding-top: 10px;
    color: fuchsia;
}

.lists button {
    background-color: lightsalmon;
    color: crimson;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.lists button:hover {
    background-color: aquamarine;

}