<div>
  <app-header></app-header>
  <h2>Client List</h2>

  <div class="lists">
    <div class="client-1">
      <h5>JOHN</h5>
      <button id="client1-btn" onclick="client1()">View Details</button>
      <p id="client1-email"></p>
      <p id="client1-phnno"></p>
    </div>
    <div class="client-2">
      <h5>MICHAEL</h5>
      <button id="client1-btn" onclick="client2()">View Details</button>
      <p id="client2-email"></p>
      <p id="client2-phnno"></p>
    </div>
    <div class="client-3">
      <h5>EMILY</h5>
      <button id="client3-btn" onclick="client3()">View Details</button>
      <p id="client3-email"></p>
      <p id="client3-phnno"></p>
    </div>
    <div class="client-4">
      <h5>EMMA</h5>
      <button id="client4-btn" onclick="client4()">View Details</button>
      <p id="client4-email"></p>
      <p id="client4-phnno"></p>
    </div>
    <div class="client-5">
      <h5>CHARLES</h5>
      <button id="client5-btn" onclick="client5()">View Details</button>
      <p id="client5-email"></p>
      <p id="client5-phnno"></p>
    </div>
    <div class="client-6">
      <h5>DIMPLE</h5>
      <button id="client6-btn" onclick="client6()">View Details</button>
      <p id="client6-email"></p>
      <p id="client6-phnno"></p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
