body {
    margin: 0px;

}

h1 {
    text-align: center;
    color: #db158f;
}

nav a {
    display: inline-block;
    margin: 50px;

}

nav a {
    text-decoration: none;
    margin-right: 250px;
    margin-left: 600px;
    padding: 20px;
    background: linear-gradient(#13bfd6, #d46dad, #1b5c31);
    border-radius: 10px;

}

nav a.active {
    background-color: aqua;
    color: chartreuse;

}

div {
    background-color: rgb(39, 92, 99);
}